---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1> Austrian Famous Artist <strong>Gustav Klimt </strong></h1>
<img src="/images/klimt.png" alt="The Virgin by Gustav Klimt" width="300" />
<h2> Gustav Klimt's Painting, "The Virgin", 1913. </h2>
<img src="/images/kiss.jpg" alt="The Kiss by Gustav Klimt" width="300" />
<h3> Gustav Klimt's Painting, "The Kiss", 1907. </h3>